node_modules
dist
tests
.env
.env.*
!.env.example
.git
.gitignore
.gitattributes
.husky
.idea
.vscode
.DS_Store
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store
*.swp
*.swo
*.log
docker-compose*.yml
Dockerfile
README.md